.fashionIndexTopBtn {
  background-color: azure;
  height: 33px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  line-height: 33px;
  border-radius: 10px;
  overflow:hidden;
}

.likeBtn {
  width: 50%;
  text-align: center;
  color: white;
  background-color: rgb(36, 36, 36);
}

.timelineBtn {
  width: 50%;
  text-align: center;
}

.fashionIndexMain {
  display: flex;
}

.side {
  width: 20%;
}

.sideOneContent {
  margin-top: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.sideOneContentTitle {
  font-size: large;
  margin-bottom: 10px;
}

.sideBtn {
  display: block;
}
